tmp/
log/
.sass-cache/
assets/images/icons-*.png
assets/javascript/.remote/
assets/javascript/bundle*.js
assets/javascript/main.js
assets/stylesheets/.css/
BUILD_VERSION
GENERATOR_OPTIONS
.DS_Store
.rvmrc

lib/*.ts


*.swp
config/default.vcl
JENKINS
*~
project.gemspec

assets/javascript/main.js

*.css
lib/mlocal.nytimes.com.slug
icons-*