#logo {
  background: $color2;
  border-bottom: $border1;
  overflow: hidden;
  position: relative;
  > a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    font-family: serif;
    line-height: 100%;
    display: inline-block;
    padding: 10px;
  }
  > div {
    position: absolute;
    bottom: 0;
    right: 5px;
    opacity: .8;
    margin-bottom: -3px;
    > div {
      display: inline-block;
      width: 40px;
      height:33px;
      padding-top: 3px;
      &[data-ur-state="enabled"] {
        background-color: white;
        @include border-radius(5px 5px 0 0);
        margin-bottom: 0px;
      }
      &.mw_account {
        @extend .icons-account;
      }
      &.mw_search {
        @extend .icons-search;
      }
      &.mw_calendar {
        @extend .icons-calendar;
      }
      &.mw_info {
        @extend .icons-info;
      }
    }
  }
}
#topban {
  padding:10px;
  > sup {
    display: none;
  }
  > h2 {
    font-size: 16px;
    display: inline;
    line-height: 16px;
  }
  > .sublinks {
    float: right;
    > a {
      text-decoration: none;
      font-size:14px;
      margin-left: 5px;
      padding-left: 5px;
      line-height: 16px;

    }
  }
}
#leftbar {

  #leftlinks {
    padding: 10px;
    background: #EFEFEF;
    > li:first-of-type > a {
      @include border-radius(5px 5px 0 0);
    }

    > li:last-of-type > a {
      @include border-radius(0 0 5px 5px);
    }

    > br {
      display: none;
    }
  }
  #postlks {
    padding: 10px;
    background: #EFEFEF;
    > li:first-of-type > a {
      @include border-radius(5px 5px 0 0);
    }

    > li:last-of-type > a {
      @include border-radius(0 0 5px 5px);
    }
  }
  //  search
  #search {
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
    // color: #777;
    background: #efefef;
    border-bottom: $border1;
    > br {
      display: none;
    }
    > select {
      margin: 0 5px;
    }
    > div {
      padding-bottom: 5px;
    }
  }

  //  calendar
  div[summary="calendar"] {
    text-align: center;
    padding: 10px;
    background: #EFEFEF;
    > div {
      &:first-of-type > span {
        display: inline-block;
        width: 31px;
        padding: 5px 0;
        background: #999;
        color: white;
        margin-bottom: 2px;
      }
      > span > a {
        display: inline-block;
        width: 28px;
        padding: 5px 0;
        background: white;
        margin: 2px 0px;
      }
    }
    .tdy  > a {
      background: none;
      text-decoration: none;
      font-weight: bold;
      color: #222;
    }
  }
}

#rightbar {
  border-top: 7px solid #369;
  display: block;
  > br, > p {
    display: none;
  }
}
h4.mw_bar1 > div:empty {
  display: none !important;
}
