// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

@import "bourbon/_bourbon";

@import "_vertical_rhythmic";

html {
  height: 100%;
  overflow: auto !important;
}

body {
  -webkit-text-size-adjust: none;
  background: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Verdana;
  position: relative;
  min-height: 100%;
}

a {
  color: #369;
  text-decoration: none;
  word-wrap: break-word;
}

a, a:link {
  -webkit-tap-highlight-color: rgba(225, 244, 204, 0.5);
}

img {
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

