// Defining a mixin for the bars (for more about mixins, see http://sass-lang.com)
@mixin bar_inner_base {
  background-position-x: right;
  display: block;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
}