



//blue
@mixin gradient1 {
  @include background(linear-gradient(#eff8fc, #d5e3ef));
  //@include background(linear-gradient(#fffcf6, #f0dcb5));
  background-color: #efece5; /* Old browsers */
}


@mixin bar_inner_base {
  background-position-x: right;
  display: block;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
}


@mixin bar1 {
  @include gradient1;
  border-bottom: #fff;
  border-top: 1px solid #ddd;

  > a {
    @include bar_inner_base;
    @extend .icons-blackArrowRight;
    color: $text_color;
  }
  &[data-ur-state="enabled"] {
    @include box-shadow(0px 2px 3px #999);
    position: relative;
  }
  &[data-ur-toggler-component="button"] {
    > span, > div {
      @include bar_inner_base;
      @extend .icons-blackPlus;
    }

    &[data-ur-state="enabled"] {
      > span, > div {
        @include bar_inner_base;
        @extend .icons-blackMinus;
      }
    }
  }
}


@mixin bar2 {
  border-bottom: #fff;
  border-top: $border1;

  > a {
    @include bar_inner_base;
    @extend .icons-blue-arrow-right;
    color: $link_color;
  }
  &[data-ur-state="enabled"] {
    @include box-shadow(0px 2px 3px #999);
    position: relative;
  }
  &[data-ur-toggler-component="button"] {
    > span, > div {
      @include bar_inner_base;
      @extend .icons-blackPlus;
    }

    &[data-ur-state="enabled"] {
      > span, > div {
        @include bar_inner_base;
        @extend .icons-blackMinus;
      }
    }
  }
}

@mixin bar3 {
  @include bar_inner_base;
  @extend .icons-blackArrowRight;
  border-bottom: $border1;
  background-color: #fff;
  color: #555;
  text-align: left;


}
